@*@model IEnumerable<GameStore.Models.Relation>*@


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form class="navbar-form navbar-left" role="search" method="get" asp-action="Index">
    <div class="form-group">
        <input type="text" name="keyword" class="form-control" value="@ViewBag.Keyword" placeholder="Enter user name" style="width:500px;">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <a class="btn btn-primary" asp-action="Index" asp-route-keyword="">Clear Search</a>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Gender
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.User != null)
        {
            @foreach (var item in ViewBag.User)
            {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Gender
                    </td>

                    <td>
                        <a asp-action="SendRequest" asp-route-id="@item.Id">Send Request</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (ViewBag.Friends != null)
{
    @foreach (var item in ViewBag.Friends)
    {
<p>@item.UserName</p>
<p>@item.Id</p>
    }
}
