@model GameStore.Models.Game

@{
    ViewData["Title"] = "Details";
}
<style>
 
    .reviewContainer{
        display: flex;
        margin-top: 2em;
        gap: 10em;
    }
    h4{
      font-weight: bold;
    }

</style>

<h2> Game Details</h2>
<div>
<h4>Game details</h4>
<hr />
    
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            $@Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Category
        </dt>
        <dd>
            @ViewBag.CategoryName
        </dd>
        <dt>
            Ratings
        </dt>
        <dd>
            <span class="text-warning">
                <i class="ratingStar far fa-star"></i>
                <i class="ratingStar far fa-star"></i>
                <i class="ratingStar far fa-star"></i>
                <i class="ratingStar far fa-star"></i>
                <i class="ratingStar far fa-star"></i>
            </span>
        </dd>
      
        <dt>
            Platform
        </dt>
        <dd>
            @ViewBag.PlatformName
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
    <a class="btn btn-success" asp-controller="Reviews" asp-action="Create" asp-route-id="@Model.GameId">Add Review</a>
    @if (ViewBag.IsInWishList == false)
    {
<a class="btn btn-primary" asp-controller="WishList" asp-action="Create" asp-route-id="@Model.GameId"> Add to Wish List ♡ </a>

    }
    else
    {
<a class="btn btn-primary" asp-controller="WishList" asp-action="Index"> Go to Wish List 💗 </a>
        <p>*Game already added to wish list*</p>
    }
</div>
<div class="reviewContainer">
    <div>
        <h4>Customer Reviews</h4>
        <p>Total reviews:  @ViewBag.ReviewObj.Count</p>

    </div>

    <div>
        <h4>Top Reviews</h4>
       
        @if(@ViewBag.ReviewObj.Count > 0){
            @foreach (var item in @ViewBag.ReviewObj)
            {
            <div style="margin: 1.5em 0;">
                <div>
                    <span>
                        <i style="font-size:1.5em;" class="fa-solid fa-circle-user"></i>
                    </span>
                    <span>@item.AspUser.UserName
                            @if (!@item.IsApproved)
                            {
                                <span style="color: red; font-weight: bold">Pending</span>
                            }
                    </span>
                 </div>
                 <div>
                    <span class="text-warning">
                        @for (int i = 0; i < 5; i++)
                        {
                            if (@item.Rating > i)
                            {
                                 <i class="ratingStar fas fa-star"></i>
                            }
                            else{
                                <i class="ratingStar far fa-star"></i>
                            }
                        }
                    </span>
                    <span style="font-weight:bold;">
                        @item.Title
                    </span>
                </div>
                <p>@item.Review1</p>
            </div>
            }

        }else{
            <div>
                No Reviews
            </div>
        }
    </div>
</div>


@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var rating = parseFloat(@ViewBag.Rating);
            if ($.isNumeric(rating)){
                $(".ratingStar").slice(0,rating).removeClass("far").addClass("fas");
            }
        });
    </script>
}






