@model GameStore.Models.User

@{
    ViewData["Title"] = "Update Profile";
}

<h2>Update Profile</h2>

<div style="margin: 2em 0;">
    <a class="btn btn-primary" asp-action="Index" asp-controller="FavouritePlatforms">Platfroms</a>
    <a class="btn btn-success" asp-action="Index" asp-controller="FavouriteCategories">Categories</a>

</div>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName"  class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="first_name" class="control-label"></label>
                <input asp-for="first_name" class="form-control" />
                <span asp-validation-for="first_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="last_name" class="control-label"></label>
                <input asp-for="last_name" class="form-control" />
                <span asp-validation-for="last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <select asp-for="gender" class="form-control" asp-items="new SelectList(ViewBag.Gender)">
                    <option value="">Please choose Gender </option>
                </select>


                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dob" class="control-label"></label>
                <input asp-for="dob" class="form-control" />
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="province" class="control-label"></label>
                <select asp-for="province" class="form-control" asp-items="ViewBag.ProvinceCode"></select>
                <span asp-validation-for="province" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <div class="checkbox">
                    <label>
                        <input asp-for="receive_promotions" /> @Html.DisplayNameFor(model => model.receive_promotions)
                    </label>
                </div>
            </div>
            <div class="form-group" hidden>
                <label asp-for="NormalizedUserName" class="control-label"></label>
                <input asp-for="NormalizedUserName" class="form-control" />
                <span asp-validation-for="NormalizedUserName" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="NormalizedEmail" class="control-label"></label>
                <input asp-for="NormalizedEmail" class="form-control" />
                <span asp-validation-for="NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <div class="checkbox">
                    <label>
                        <input asp-for="EmailConfirmed" /> @Html.DisplayNameFor(model => model.EmailConfirmed)
                    </label>
                </div>
            </div>
            <div class="form-group" hidden>
                <label asp-for="PasswordHash" class="control-label"></label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="SecurityStamp" class="control-label"></label>
                <input asp-for="SecurityStamp" class="form-control" />
                <span asp-validation-for="SecurityStamp" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ConcurrencyStamp" class="control-label"></label>
                <input asp-for="ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="ConcurrencyStamp" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <div class="checkbox">
                    <label>
                        <input asp-for="PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                    </label>
                </div>
            </div>
            <div class="form-group" hidden>
                <div class="checkbox">
                    <label>
                        <input asp-for="TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                    </label>
                </div>
            </div>
            <div class="form-group" hidden>
                <label asp-for="LockoutEnd" class="control-label"></label>
                <input asp-for="LockoutEnd" class="form-control" />
                <span asp-validation-for="LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <div class="checkbox">
                    <label>
                        <input asp-for="LockoutEnabled" /> @Html.DisplayNameFor(model => model.LockoutEnabled)
                    </label>
                </div>
            </div>
            <div class="form-group" hidden>
                <label asp-for="AccessFailedCount" class="control-label"></label>
                <input asp-for="AccessFailedCount" class="form-control" />
                <span asp-validation-for="AccessFailedCount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
