@model IEnumerable<GameStore.Models.Review>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<h1 style="text-align:center">Pending Reviews</h1>
<div style="margin-top: 5em; display: grid; grid-template-columns: 1fr 1fr 1fr;">
 @if(Model.Count() >  0){
        foreach (var item in Model)
        {
            <div style=" box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); padding: 2em; border-radius: 5px; margin:1em">
                <h2>Game: <span>@item.Game.Name</span></h2>
                <h4>User: <span>@item.AspUser.UserName</span></h4>
                <h4>Title: <span>@item.Title</span></h4>
                <h4>Description: </h4>
                <p>@item.Review1</p>
                <a asp-action="CheckReview" asp-route-id="@item.ReviewId" asp-route-isDeclined=@false class="btn btn-primary approve_review">Approve</a>
                <a asp-action="CheckReview" asp-route-id="@item.ReviewId" asp-route-isDeclined=@true class="btn btn-danger">Remove</a>
            </div>
        }
 }
 else{
     <h3 id="no_reviews">No Reviews pending</h3>
 }

</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}
