@model GameStore.Models.Merchandise

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Merchandise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
    @if (ViewBag.IsInWishList == false)
    {
        <a class="btn btn-primary" asp-controller="WishList" asp-action="Create" asp-route-id="@Model.MerchandiseId"> Add to Wish List ♡ </a>

    }
    else
    {
        <a class="btn btn-primary" asp-controller="WishList" asp-action="Index"> Go to Wish List 💗 </a>
        <p>*Game already added to wish list*</p>
    }
    @if (ViewBag.IsInCartList == false)
    {
        <a class="btn btn-primary" asp-controller="Cart" asp-action="Create" asp-route-merchId="@Model.MerchandiseId"> Add to Cart</a>
    }
    else
    {
        <p>*Merchandise already added to Cart*</p>
    }
</div>
