@model IEnumerable<GameStore.Models.Merchandise>
@using GameStore.Services
@{
    Pagination pager = new Pagination();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@{
    ViewData["Title"] = "Merchandise";
}

<h2>Merchandise</h2>

@if (User.IsInRole("Employee"))
{
    <a class="btnGame btn btn-success" asp-area="" asp-controller="Merchandise" asp-action="Create" id="create_merch">Add New Merchandise</a>
}
<div class="row">
    <div class="col-lg-5">
        <div class="input-group">
            <form class="navbar-form navbar-left" asp-action="Index" asp-controller="Merchandise" id="frmPlatform">
                <div class="form-group">
                    <select id="drpFields" onchange="editWhiteOut();" class="form-control" asp-items="ViewBag.GameId"><option value="">----Please Select Game----</option></select>
                </div>
                <a class="btn btn-primary" asp-action="Index" asp-route-keyword="">Clear Filter</a>
            </form>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-5">
        <div class="input-group">
            <form class="navbar-form navbar-left" role="search" method="get" asp-action="Index">
                <div class="form-group">
                    <input type="text" name="keyword" class="form-control" value="@ViewBag.Keyword" placeholder="Enter Merchandise" style="width:245px;">
                    <button type="submit" id="btnSearch" class="btn btn-primary">Search</button>
                    <a class="btn btn-primary" asp-action="Index" asp-route-keyword="">Clear Search</a>

                </div>
            </form>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>





@if (Model.Count() == 0)
{
    <p>No Merchandise found. </p>
}
else
{

    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td id="@Html.DisplayFor(modelItem => item.Name)">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Game.Name)
                    </td>
                    <td>
                        @if (User.IsInRole("Employee"))
                        {
                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.MerchandiseId">Edit Merchandise</a>
                            <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.MerchandiseId">Delete Merchandise</a>
                        }
                        else
                        {
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.MerchandiseId" id="@Html.DisplayFor(modelItem => item.Name)_details">Merchandise Details</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination">
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Merchandise" asp-action="Index" asp-route-keyword="@ViewBag.Keyword" asp-route-pg="1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Merchandise" asp-action="Index" asp-route-keyword="@ViewBag.Keyword" asp-route-pg="@(pager.CurrentPage-1)">Previous</a>
                </li>
            }
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge==pager.CurrentPage?"active":"")">
                    <a class="page-link" asp-controller="Merchandise" asp-action="Index" asp-route-keyword="@ViewBag.Keyword" asp-route-pg="@pge">@pge</a>
                </li>
            }
            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Merchandise" asp-action="Index" asp-route-keyword="@ViewBag.Keyword" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Merchandise" asp-action="Index" asp-route-keyword="@ViewBag.Keyword" asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>



<script>
    function editWhiteOut() {
        var url = "";
        var id = 0;

        id = document.getElementById("drpFields").value;
        var lc = window.location.href.split('?')[0];
        console.log(lc);
        url = `${lc}?Id=${id}`;
        window.location.href = url;
    }
</script>

<style>
    #drpFields {
        width: 250px;
    }

    #btnSearch {
        padding-left: 10px;
    }
</style>
@*
    <script>
        function submitPlatform() {

            var data = $("#frmPlatform").serialize();
            alert("test");
            console.log(data);


            $.ajax({
                type: 'GET',
                data: data,
                url: '/Merchandise/Index/',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    alert("test2");

                },
                error: function () {
                    console.log("fail");
                }
            })
        }




    </script>*@