@model GameStore.Models.Cart

@{
    ViewData["Title"] = "Cart";
}

<h2>Cart</h2>
<form asp-action="Checkout">


    <div class="row" style="padding-bottom:20px;">
        <div class="col-md-8">
            @if (ViewBag.CartGame != null || ViewBag.CartMerch != null)
            {
                <table class="table">
                    <thead>


                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Price
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.CartGame.Count > 0 || ViewBag.CartMerch.Count > 0)
                        {

                            @foreach (var item in ViewBag.CartGame)
                            {
                                <tr>
                                    <td>
                                        @item.Game.Name
                                    </td>
                                    <td>
                                        $@item.Game.Price
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-gameId="@item.Game.GameId">Remove from Cart</a><br />
                                    </td>
                                </tr>
                            }
                            @foreach (var item in ViewBag.CartMerch)
                            {
                                <tr>
                                    <td>
                                        @item.Merchandise.Name
                                    </td>
                                    <td>
                                        $@item.Merchandise.Price
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-merchId="@item.Merchandise.MerchandiseId">Remove from Cart</a><br />
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>

                </table>
            }
            else
            {

                <b>Your cart is empty right now. Checkout our games and merchandise!!<a asp-controller="Game" asp-action="Index" class="btn btn-success">View games</a><a asp-controller="Merchandise" asp-action="Index" class="btn btn-success">View Merchandise</a> </b>

            }
            @if (ViewBag.Total != null)
            {

                <p>
                    @{
                        var SubTotal = Math.Round(@ViewBag.Total, 2);
                        var HST = Math.Round(@ViewBag.Total * 0.13, 2);
                        var Total = Math.Round(SubTotal + HST, 2);
                        //@Model.TotalCost= Total;
                    }
                    <br><b>Subtotal:  $@SubTotal</b>
                    <br><b>HST:      $@HST</b>
                </p>


                <p id="total"><b>Total: $@Model.TotalCost</b></p>
                <div class="form-group" hidden>
                    <input hidden asp-for="TotalCost" value="@Model.TotalCost" class="form-control" />
                </div>
                <div class="form-group" hidden>
                    <input hidden asp-for="CartId" value="@Model.CartId" class="form-control" />
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Shipping Address</h3>
                </div>

                <div class="panel-body">
                    @if (ViewBag.Address != null)
                    {
                        <dl class="dl-horizontal">
                            <dt>
                                Address
                            </dt>
                            <dd>
                                @ViewBag.Address.FullAddress
                            </dd>
                            <dt>
                                City
                            </dt>
                            <dd>
                                @ViewBag.Address.City
                            </dd>
                            <dt>
                                Province
                            </dt>
                            <dd>
                                @ViewBag.Address.Province
                            </dd>
                            <dt>
                                Postal
                            </dt>
                            <dd>
                                @ViewBag.Address.PostalCode
                            </dd>
                        </dl>
                    }


                    else
                    {
                        <p>No shipping added.You can add it. <a class="btn btn-success" asp-action="CreateShipping" asp-controller="Address">Add Shipping address</a> </p>
                    }


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"> Credit Card</h3>
                </div>

                <div class="panel-body">

                    @if (ViewBag.CreditCard != null)
                    {

                        <select id="drpFields" asp-for="CreditCardId" class="form-control" asp-items="ViewBag.CreditCard"></select>

                    }
                    else
                    {
                        <p>No creditcard added .You can add it. <a class="btn btn-success" asp-action="Create" asp-controller="CreditCardInfo">Add Credit Card</a> </p>
                    }
                </div>
            </div>
        </div>
        <br>
    </div>


    <div>
        @if (ViewBag.CartGame != null && ViewBag.CartMerch != null && ViewBag.CreditCard != null && ViewBag.Address != null)
        {
            <input type="submit" value="Checkout" class="btn btn-success" />

        }
    </div>
</form>


