@model IEnumerable<GameStore.Models.Cart>

@{
    ViewData["Title"] = "Previous Purchases";
}

<h2>Your purchases</h2>
<p>Note: Games are available onli, you can download from this page. If you have ordered merchandise, it will get shipped to your shipping address.</p>
<table class="table">
    <thead>
        @if (ViewBag.CartGame != null || ViewBag.CartMerch != null)
        {
            @if (ViewBag.CartGame.Count > 0 || ViewBag.CartMerch.Count > 0)
            {
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Type
                    </th>
                    <th>

                    </th>
                </tr>
            }
        }

    </thead>
    <tbody>
        @if (ViewBag.CartGame != null || ViewBag.CartMerch != null)
        {
            @if (ViewBag.CartGame.Count > 0 || ViewBag.CartMerch.Count > 0)
            {
                @foreach (var item in ViewBag.CartGame)
                {
                    <tr>
                        <td>
                            @item.Game.Name
                        </td>
                        <td>
                            @item.Game.Description
                        </td>
                        <td>
                            Game
                        </td>
                        <td class="download_game">
                            <a asp-action="DownloadGame" asp-route-id="@item.Game.GameId">Download Game</a>
                        </td>

                    </tr>
                }
                @foreach (var item in ViewBag.CartMerch)
                {
                    <tr>
                        <td>
                            @item.Merchandise.Name
                        </td>
                        <td>
                            @item.Merchandise.Description
                        </td>
                        <td>
                            Merchandise
                        </td>

                        <td>
                            @item.Cart.StateOfOrder
                        </td>

                    </tr>
                }
            }
        }


    </tbody>
</table>
