@model GameStore.Models.CreditCardInfo

@{
    ViewData["Title"] = "Credit Card Details";
}

<h2>Credit Card Details</h2>

<div>
    <h4>Credit Card Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ccc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ccc)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.CreditCardId">Edit</a> |
    <a asp-action="Index">Back to Credit Card List</a>
</div>
