@model IEnumerable<GameStore.Models.CreditCardInfo>

@{
    ViewData["Title"] = "Credit Card List";
}

<h2>Registerd Cards</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ccc)
            </th>
          
            <th>Manage each</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ccc)
            </td>
           
            <td>
                <a class="btn btn-info" asp-action="Edit"  asp-route-id="@item.CreditCardId">Edit Card</a> <br />
                <a class="btn btn-info" asp-action="Details"  asp-route-id="@item.CreditCardId">View Card Details</a> <br />
                <a class="btn btn-info" asp-action="Delete"  asp-route-id="@item.CreditCardId">Delete Card</a><br />
            </td>
        </tr>
}
    </tbody>
</table>

<h4>Add another card from the button bellow.</h4>
<p>
    <a type="button" class="btn btn-success" asp-action="Create">Add another Card</a>
</p>
